/*
 *	@Purpose: Holds all my color options
 *	@Author: Oguntuberu Nathan O.
 *	@Date: 05-10-2018
*/

.bg-none{
	background: none;
}

/*	WHITE	*/
.bg-white{
	background: #fff;
}
.bg-grey{
	background: #ddd;
}
.bg-sky-grey{
	background: #efefef;
}
.bg-translucent-white {
	background: rgba(255, 255, 255, 0.8);
}
.white-font{
	color: #fff;
}

/*	BLUE	*/
.bg-marine{
	background: #0A4F84;
	color: #fff;
}
.marine-font{
	color: #0A4F84;
}
.marine-border{
	border-color: #0A4F84;
}
.white-border{
	border-color: #ffffff;
}

/*	*/
.bg-green{
	background: #18914A;
	color: #fff;
}

/*	*/
.bg-wine{
	background: #7A1A32;
	color: #fff;
}
.wine-font{
	color: #7A1A32
}
.wine-border{
	border-color: #7A1A32
}

/*	Gold	*/
.bg-gold{
	background: #E09900;
	color: #fff;
}


/*	*/
.bg-baby-blue {
	background: #2f89ff;
	color: white;
}
.baby-blue-font {
	color: #2f89ff;
}

/*	*/
.bg-pink {
	background: #d45ade;
	color: white;
}
.pink-font {
	color: #d45ade;
}
/*	FORE COLORS	*/
