/*
 *	@Purpose: Holds all my form styling
 *	@Author: Oguntuberu Nathan O.
 *	@Date: 15-07-2018
*/
form{
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: auto;
	
	padding: 15px;
}
button{
	box-sizing: border-box;
	padding: 7.5px 15px;
}

input, textarea, select{
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: auto;
	
	padding: 7.5px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	
	font-family: sans-serif;
}
input[type='button'], input[type='submit']{
    margin-bottom: 0;
	padding: 10px;
	
	font-size: 0.95em;
}
label{
	display: block;
	width: 100%;
	margin-bottom: 7.5px;
}

.form-group{
	margin-bottom: 10px;
}
.form-actions{
	margin-top: 10px;
}

/*	form message toast display  */
#form-message{
	margin-bottom: 15px;
	padding: 10px 5px;
	text-align: center;
	display: none;
}

/*	FORM ADJECTIVES	*/
.form-wrapper{
	min-height: 20px;
	margin-bottom: 15px;
}
.form-title{
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
}

/*	FORM BORDER	*/
.no-border{
	border: none;
}
.rounded-corners{
	border-radius: 3.5px;
}
.rounded-sides{
	border-radius: 50px;
}

/*	LENGTH	*/
.input-100{
	width: 100%;
}
.input-75{
	width: 75%;
}
.input-50{
	width: 50%;
}
.input-33{
	width: 33%;
}
.input-25{
	width: 25%;
}
