/*
 *
 *
*/
span[class~='edit']
{
    background: url('../media/icons/edit.png');
}
span[class~='view']
{
    background: url('../media/icons/view.png');
}
span[class~='date']
{
    background: url('../media/icons/clock.png');
}
span[class~='remove']
{
    background: url('../media/icons/delete.png');
}
span[class~='email']
{
    background: url('../media/icons/mail.png');
}
span[class~='location']
{
    background: url('../media/icons/location.png');
}
span[class~='uri']
{
    background: url('../media/icons/uri.png');
}
span[class~='phone']
{
    background: url('../media/icons/phone.png');
}

/*  */
span[class~='icon']
{
    display: inline-block;
    background-position: center;
    background-size: 100% 100%;
    width: 12.5px;
    height: 12.5px;
    
    margin-right: 5px;
    margin-left: 10px;
}
span[class~='icon']:first-child
{
    margin-left: 0;
}
span[class~='icon-lg']{
    width: 17px;
    height: 17px;
    margin-right: 15px;
}